body {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    background-color: #4dafaa; /*background-color by Jody*/
}

head {
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    background-color: #3d5761;
}

/* Whenever bootstrap overrides something we don't want to be overwritten,
   we need to create id's for certain elements or even specific 
   elements (using th3 '#').*/
#bootstrap-override {
    background-color: aqua;
}