body {
    font-family: "Roboto", sans-serif;
<<<<<<< HEAD
    color: aliceblue;
    background-color: #4dafaa;
}

head {
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    background-color: #3d5761;
=======
    /*background-color by Jody*/
}

/* Whenever bootstrap overrides something we don't want to be overwritten,
   we need to create id's for certain elements or even specific 
   elements (using th3 '#').*/
#bootstrap-override {
    background-color: aqua;
>>>>>>> 9b3b6b3 (Changed css to work with bootstrap and added a navigation menu (bar) to the home page (index.html))
}